@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bg: 255 255 255; }
html, body, #__next { height: 100%; }
body { background: rgb(var(--bg)); font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, 'Apple Color Emoji', 'Segoe UI Emoji'; }
